---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Fixos
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Fixos <i class="fas fa-thumbtack"></i> </span></h2>
    </div>
    <div class="row">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section>

{% endif %}

{% if page.url == "/" %}

<!-- Lasts
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Últimos <i class="fas fa-fire"></i> </span></h2>
    </div>
    <div class="row">

        {% for post in site.posts %}

        {% if post.last == true %}

        {% include featuredbox.html %}

        {% endif %}

        {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    
    <div class="section-title">
        
        <h2><span>Posts <i class="fas fa-file"></i></span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postbox.html %}          

        {% endfor %}
        
    </div>
    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

